<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW STATION</title>
    <div><a href="/">BACK TO HOME</a></div>
    <div><a href="/stations">BACK TO INDEX</a></div>
</head>
<body>
    <h1>NEW STATION FORM</h1>
    <form action="/stations" method="POST">
    <label for="station[name]">Name:</label>
    <input type="text" name="station[name]">
    <br>
    <br>
    <% @trains.each do |train| %>
        <input type="checkbox" name="station[train_ids][]" value="<%= train.id %>">
        <%= train.name %> </input>
        <br>
    <% end %>
    <br>
    <br>
    <input type="submit" value="CREATE">
     
    </form>
</body>
</html>